.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;
    width: 100%;
}

.card {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: gray;
    border: 1px solid #cccccc;
    padding: 20px;
    height: auto;
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.read-button, .tbr-button {
    padding: 10px 15px;
    border: none;
    background-color: #0D3B66;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.read-button:hover {
    background-color: #ff9505;
}

.tbr-button:hover {
    background-color: #ff9505;
}

@media (max-width: 500px) {
    .card {
        flex: 0 1 100%;
        max-width: 100%;
    }
}