.Header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: larger;
    font-weight: bold;
    font-family: "Baumans";
    height: 100px;
    background-color: #ec4e20;
}