nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: medium;
    font-weight: bold;
    background-color: #ff9505;
    color: #fc5305;
}

nav > a {
    text-decoration: none;
    color: black;
}